/* CSS reset */
* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Rulesets */
body {
    background-color: #52796F;
}

main {
    width: 80%;
    margin: 2em auto;
    background-color: #9eb5af;
    border-radius: 5px;
    padding: 2em;
}
main p {
    text-align: center;
    line-height: 1.5em;
}
main a {
    color: #689a8d;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 1px solid transparent;
}
main a:hover {
    border-color: #689a8d;
}
main button {
    padding: 1em 2em;
    position: relative;
    left: 40%;
    width: 20%;
}
main form {
    line-height: 1.5;
    float: left;
    width: 40%;
}
main form > input {
    width: 30em;
    padding: 0.5em 0em;
    margin: 0.5em 0em;
}
form label.submit {
    background-color: white;
    border-radius: 5px;
    padding: 0.4em;
}
form label.submit:hover {
    background-color: lightgray;
    box-shadow: #3c5a52 2.5px 2.5px 5px;
}
main #display {
    float: right;
    width: 40%;
    margin-left: 0;
}
main #display p {
    text-align: left;
}

/* media queries */
@media (max-width: 800px) {

}

@media (max-width: 600px) {
    main {
    }
    main button {
        width: 30%;
        left: 35%;
    }
}